.formBox {
    display: flex;
    width: 70vw;
    height: 70vh;
}

.textInput {
    width: 90%;
    height: 25px;
}

.button {
    width: 60px;
    margin: 10px;
    height: 30px;
}

.dataArea {

}

.dataArea input {
    width: 350px;
}
.devicesArea {
    height: 70vh;
    padding-left: 20px;
    overflow: auto;
}

.deviceField {
    margin-top: 10px;
    margin-bottom: 10px;
}