.formBox {
    display: flex;
    width: 70vw;
    height: 70vh;
}

.button {
    width: 60px;
    margin: 10px;
    height: 30px;
}

.dataArea {}

.dataArea input {
    width: 350px;
    margin-top: 3px;
}
.devicesArea {
    height: 68vh;
    padding-left: 20px;
    overflow: auto;
}

.deviceField  {
    width: 400px;
    margin-top: 15px;
    margin-bottom: 10px;
}